.container-login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-usuario{
    width: 420px;
    background: #d9d9d9;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.card-login-h1{
    color: #000;
    font-size: 40px;
    margin-bottom: 10px;
}

.descricao-usuario{
    color: #3e4a5a;
    margin-bottom: 30px;
}

.form-usuario{
    display:flex;
    flex-direction:column;
}


.label-usuario{
    margin-right: 210px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #000;
}
.label-usuario-senha{
    margin-right: 240px;
}


.password-usuario{
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.esqueci-senha-usuario{
    /* margin-right: 160px;
    margin-bottom: 40px;
    margin-top: 40px; */
    font-size: 14px;
    color: #000;
}

.alerta{
    background:#c8d4df;
    padding:18px;
    border-radius:10px;
    color:#1d3567;
    font-size:12px;
    margin:10px 0 30px;
}

.entrar{
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background: #183a8d;
    color: white;
    font-weight: bold;
    cursor: pointer;

    margin:auto;
}


.cancelar{
    margin-top:20px;
    color:#444;
    text-decoration:none;
}

.btn_cadastro{
    margin: 10px;
    background: #183a8d;
    color: white;
    font-weight: 400;
    padding-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    margin: 15px 10px 10px 70px;

}

