
/* Container geral */
.container {
  padding: 40px;
  min-height: 100vh;
}

/* Pesquisa */
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 0 12px;
  outline: none;
}

/* Card branco */
.card {
  background: #fff;
  border-radius: 10px;
  min-height: 350px;
  padding: 20px;
}

/* Botões */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

/* Editar */
.edit {
  background: #777;
}

.edit:hover {
  background: #5f5f5f;
}

/* Excluir */
.delete {
  background: #ff4d4d;
}

.delete:hover {
  background: #e63b3b;
}

/* Área vazia */
.content {
  height: 250px;
}