.card-loginAdm {
    width: 420px;
    background: #0f3f97;
    border-radius: 14px;
    padding: 30px 28px;
    margin: 80px auto;
}
 
.title-loginAdm {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
 
.subtitle-adm {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 22px;
    width: 100%;
}
 
.form-adm {
    margin-bottom: 16px;
}
 
.form-adm label {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 6px;
}
 
.form-adm input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #dddddd;
    padding: 0 12px;
    outline: none;
    font-size: 14px;
}
 
.info-adm {
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    font-size: 14px;
    color: #0f3f97;
    margin: 10px 0 30px;
}
 
.btn-loginAdm {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-image: linear-gradient(to right, #791B09, #821E09, #BD2B0E);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    transition: 0.2s;
}
 
.btn:hover {
    background-image: linear-gradient(to right, #651608, #6D1908,  #9F240C);
}
 
.esquecisenhaadm {
    color: skyblue;
    text-decoration: none;
}
 
.login-adm {
    text-align: center;
    margin-top: 18px;
    font-size: 12px;
    color: #fff;
}
 
.login .redi-cad-adm {
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 600;
}

.cancelar-adm{
    margin-top: 40px;
    margin-left: 140px; 
    color: #fff;
    text-decoration: none;
}

/* .btn-voltar-login{
    text-decoration: none;
    font-weight: 600;
} */
 
.erro {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
 
 