.container-agendamento {
    display: grid;
    grid-template-columns: 300px minmax(600px, 800px);
    gap: 20px;

    justify-content: center;
    margin: 20px auto;
}

.infopsi {
    grid-column: 1;
    grid-row: 1;

    background: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.horario-disponivel {
    grid-column: 1;
    grid-row: 2;

    background: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.calendario {
    grid-column: 2;
    grid-row: 1 / 3;

    background: #ddd;
    padding: 20px;
    border-radius: 10px;

    align-self: start;
}